body {
    background-color: #D3D3D3; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
    color: #333;
}

.chart {
    margin: 2px;
}

svg {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

text {
    font-size: 12px;
    fill: #333;
}

#species-bar-chart {
    width: 30%; 
    margin: 10px auto; 
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 20px;
}


.chart-title {
    font-size: 16px;
    color: #006400; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; 
}

.dashboard-header {
    background-color: #c5f5ad; /* Vert clair */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    width: 100%;
    height: 150px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
}

.header-title {
    font-size: 28px; 
    color: #6ca14f; 
    font-weight: bold;
    margin: 0;
    line-height: 100px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive; 
    text-shadow: 1px 1px 2px #000; 
    margin: 0 0 5px 0;
    font-weight: bold;
    margin-top: -40px;
    margin-left: -560px;
}

.header-logo {
    height: 150px; 
    width: 300px;
    margin-right: -650px ;
}

.header-cards {
    display: flex;
    gap: 20px; 
    margin-top: -200px; 
    margin-right: 750px;
}

.header-card {
    background-color: #c5f5ad; 
    padding: 10px 20px;
    border-radius: 8px;
}

.card-title {
    font-size: 14px;
    color: #006400;
    margin: 0;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;

}

.card-value {
    font-size: 24px;
    color: #006400; 
    margin: 5px 0 0;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive; 

}



.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
}





.header-cards {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}


/*REDA*/

.tooltip {
    position: absolute;
    background: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
}

.legend {
    font-size: 12px;
}



#endangered-species-map-container {
    width: 100%;
    margin: 20px auto;
}

#endangered-species-map {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.tooltip {
    position: absolute;
    background: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0.9;
    font-size: 12px;
}

#map-container {
    width: 900px;
    height: 500px;
    margin: 20px auto;
}


